
 
<div>
    <div cdkMenuBar class="menu-root">
        <button class="menu-bar-item" cdkMenuItem [cdkMenuTriggerFor]="file">File</button>
        <button class="menu-bar-item" cdkMenuItem [cdkMenuTriggerFor]="plugins">Plugins</button>
      </div>
      
      <ng-template #file>
        <div class="menu" cdkMenu>
          <button class="menu-item" cdkMenuItem>New Workspace</button>
          <button class="menu-item" cdkMenuItem>Open Workspace</button>
        </div>
      </ng-template>
      
      <ng-template #plugins>
        <div class="menu" cdkMenu>
          <button class="menu-item" cdkMenuItem>Configure Plugins</button>
          <hr>
          <ng-container *ngFor="let plugin of cachedPlugins" >
            <button  *ngFor="let component of plugin.components" class="menu-item" cdkMenuItem (click)="loadRemoteComponent(component.componentName,plugin.remoteLocation,component.moduleName)">{{component.name}}</button>
          </ng-container>
        </div>
      </ng-template>
</div>
    <ng-container #componentContainer></ng-container>
